body {
  background-color: hsl(41, 84%, 52%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.movie-container {
  margin: 20px 0;
}

select {
  padding: 5px;
  font-size: 16px;
}

.seat {
  background-color: hsl(2, 87%, 44%);
  height: 25px;
  width: 30px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.seat.selected {
  background-color: hsl(185, 89%, 48%);
}

.seat.occupied {
  background-color: lch(87% 1.45 19.1);
  cursor: not-allowed;
}

.row {
  display: flex;
  justify-content: center;
}

.screen {
  background: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
}

.showcase {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 5px;
}

.showcase li {
  display: flex;
  align-items: center;
}

.text {
  margin-top: 20px;
}
